@media (max-width: 1440px) {

  .container{
    width: 90%;
  }

  #table .table--cutler .swiper {
    width: 100%;
    margin-left: -10px;
  }

  #table .table--cutler {
    width: 1403px;
    margin-left: 29px;
  }

}

@media (max-width: 1200px) {

  #table .table--cutler {
    width: 1299px;
    margin-left: -101px;
  }

  #fox .fox--rug--ball {
    width: 1127px;
    margin-left: -26px;
  }

  #fox .fox--cloth--hook {
    flex-wrap: wrap;
    margin-left: -78px;
  }

  #fox .fox--cloth--hook__hostel {
    margin-left: 114px;
    margin-bottom: 40px;
  }

  #fox .fox--cloth--stool {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #fox .fox--cloth--stool__thank2 {
    margin-bottom: 35px;
  }

  #egg .egg--bard {
    display: flex;
    margin-left: 78px;
  }

  #arvi .arvi--telcom__imge {
    margin-left: 443px;
  }

  #arvi .arvi--telcom2__imga {
    margin-left: 409px;
  }


}

@media (max-width: 1024px) {

  #header .header--block {
    flex-direction: column-reverse;
  }

  #see .see--baby {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #arvi .arvi--telcom__img {
    margin: -90px 0 0 5px;
  }

  #arvi .arvi--telcom__imge {
    margin-left: 415px;
  }

  #arvi .arvi--telcom2__imgi {
    margin: -6px 0 0 -10px;
  }

  #verli .verli--kettle {
    flex-direction: column;
  }

  #verli .verli--kettle__lake--titler {
    text-align: center;
  }

  #verli .verli--kettle__lake--itret {
    text-align: center;
    margin-bottom: 39px;
  }

  #verli .verli--ram--risk {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #verli .verli--ram--risk__robe{
    margin-bottom: 34px;
  }

  #table .table--cutler {
    width: 1299px;
    margin-left: -278px;
  }

  #fox .fox--hat {
    flex-wrap: wrap;
  }

  #fox .fox--hat--help--konnel {
    margin-bottom: 24px;
  }

  #fox .fox--rug--ball--bill {
    flex-direction: column-reverse;
  }

  #fox .fox--rug--ball {
    width: 968px;
    height: 447px;
    margin-left: -26px;
  }

  #fox .fox--rug--ball--bill--long--wall {
    justify-content: start;
  }

  #fox .fox--rug--ball--bill--long--wall input {
    margin-left: 7px;
  }

  #fox .fox--rug--ball--bill--long--wallet {
    justify-content: start;
  }

  #fox .fox--rug--ball--bill--long--wallet--btn {
    margin-left: 61px;
  }

  #fox .fox--rug--ball--bill--hall {
    margin: 17px 0 0 52px;
  }

  #fox .fox--rug--song {
    position: absolute;
    margin: 84px 0 0 -94px;
  }

  #egg .egg--bard {
    flex-direction: column;
  }

  #egg .egg--bard--carpet--ship {
    margin-bottom: 71px;
  }



}

@media (max-width: 992px) {

  #header .header--block {
    display: none;
  }

  #header .header {
    margin-left: -800px;
  }

  #verli .verli--kettle--note__plate {
    font-size: 15px;
  }

  #verli .verli--ram--risk__robe {
    margin-left: 7px;
    margin-bottom: 11px;
  }

  #table .table--cutler {
    width: 1269px;
    margin-left: -278px;
  }

  #fox .fox--rug--ball {
    width: 938px;
    height: 447px;
    margin-left: -26px;
  }



}

@media (max-width: 768px) {

  #header .header {
    margin-left: -592px;
  }

  #see .see--baby--voice1 {
    margin-bottom: 24px;
  }

  #arvi .arvi--cii--computer {
    width: 692px;
    height: 372px;
  }

  #arvi .arvi--telcom__img {
    margin: -90px 0 0 -32px;
  }

  #arvi .arvi--telcom__imge {
    margin-left: 232px;
  }

  #arvi .arvi--telcom2__imga {
    margin-left: 174px;
  }



  #table .table--cutler {
    width: 1269px;
    margin-left: -503px;
  }

  #table .table--cutler--yell--backeti {
    margin: 13px 0 0 9px;
  }

  #table .table--cutler--yell--complex {
    font-size: 13px;
  }

  #fox .fox--cloth--stool {
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
  }

  #fox .fox--rug--ball {
    width: 740px;
    height: 447px;
    margin-left: -26px;
  }



}

@media (max-width: 576px) {

  #header .header {
    margin-left: -431px;
  }

  #arvi .arvi--telcom__img {
    width: 90%;
    margin: -90px 0 0 -32px;
  }

  #arvi .arvi--cii--computer {
    width: 530px;
    height: 279px;
  }

  #arvi .arvi--telcom__imge {
    margin-left: 61px;
  }

  #arvi .arvi--telcom2__imga {
    margin-left: 10px;
  }

  #verli .verli--kettle--note__plate {
    font-size: 13px;
  }

  #table .table--cutler {
    width: 1269px;
    margin-left: -697px;
  }

  #fox .fox--hat--help--hint {
    width: 152px;
  }

  #fox .fox--problem {
    flex-direction: column;
  }

  #fox .fox--problem--sofa--text {
    text-align: center;
  }

  #fox .fox--problem--sofa--tax {
    margin-left: 25px;
  }

  #fox .fox--cloth--stool__thank {
    margin-bottom: 39px;
  }

  #fox .fox--cloth--stool__thank3 {
    margin-bottom: 38px;
  }

  #verli .verli--ram__rat {
    text-align: center;
  }

  #fox .fox--hand {
    text-align: center;
  }

  #fox .fox--cloth--good {
    text-align: center;
  }

  #fox .fox--cloth--spoon {
    text-align: center;
  }

  #fox .fox--rug--ball {
    width: 566px;
    height: 909px;
  }

  #fox .fox--rug--ball--bill--long {
    margin: -14px 0 0 -172px;
  }

  #fox .fox--rug--song {
    position: absolute;
    margin: 294px 0 0 134px;
  }

  #fox .fox--rug--ball--bill--hall {
    margin: 475px 0 0 -154px;
  }

  #egg .egg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #egg .egg--farm {
    margin: 60px 0;
    text-align: center;
  }

  #egg .egg--bard--carpet {
    display: flex;
    margin-left: -90px;
  }

  #egg .egg--bard--carpet--ship {
    margin-bottom: 71px;
    text-align: center;
  }



}

@media (max-width: 450px) {

  #header .header {
    margin-left: -292px;
  }

  #see .see {
    align-items: center;
    flex-direction: column;
  }

  #see .see--bad{
    margin-bottom: 24px;
  }

  #arvi .arvi--telcom__img {
    width: 90%;
    margin: 52px 0 0 136px;
  }

  #arvi .arvi--telcom__imge {
    display: none;
  }

  #arvi .arvi--cii--computer {
    width: 417px;
    height: 222px;
  }

  #arvi .arvi--telcom2__imgi {
    display: none;
  }

  #arvi .arvi--telcom2__imga {
    margin-left: 97px;
  }

  #table .table--cutler {
    width: 1269px;
    margin-left: -820px;
  }

  #fox .fox--cloth--hook {
    flex-wrap: wrap;
    margin-left: 4px;
  }

  #fox .fox--cloth--spoon {
    font-size: 35px;
  }

  #fox .fox--rug--ball--bill--long {
    margin: -14px 0 0 -245px;
  }

  #fox .fox--rug--song {
    position: absolute;
    margin: 294px 0 0 59px;
  }

  #fox .fox--rug--ball--bill--hall {
    margin: 475px 0 0 -221px;
  }

  #fox .fox--rug--ball {
    width: 447px;
    height: 909px;
  }



}

@media (max-width: 425px) {


  #arvi .arvi--cii--computer {
    width: 381px;
    height: 222px;
  }

  #verli .verli--kettle__lake--foto {
    width: 90%;
    margin-left: 21px;
  }

  #verli .verli--ram--risk {
    margin-left: 150px;
  }

  #verli .verli--ram--risk__robe--simple {
    text-align: center;
    margin-left: -65px;
    margin-bottom: 26px;
  }

  #table .table--cutler {
    width: 1269px;
    margin-left: -846px;
  }

  #fox .fox--cloth--spoon {
    font-size: 33px;
  }

  #fox .fox--rug--ball--bill--long input {
    width: 211px;
    margin-left: 100px;
  }

  #fox .fox--rug--ball--bill--long--wall {
    flex-direction: column;
    margin-left: -111px;
  }

  #fox .fox--rug--ball--bill--long--wallet {
    flex-direction: column;
  }

  #fox .fox--rug--ball--bill--long--wallet__apple {
    text-align: center;
    margin-bottom: 11px;
  }

  #fox .fox--rug--ball--bill--long--wallet--btn {
    margin-left: 13px;
  }

  #fox .fox--rug--song {
    position: absolute;
    margin: 391px 0 0 59px;
  }

  #fox .fox--rug--ball {
    width: 426px;
    height: 1004px;
  }

  #fox .fox--rug--ball--bill--hall {
    margin: 422px 0 0 -232px;
  }

  #see .see--baby--voice1--big {
    margin-left: 68px;
  }



}

@media (max-width: 380px) {

  #header .header {
    margin-left: -240px;
  }

  #arvi .arvi--telcom__img {
    width: 90%;
    margin: 52px 0 0 104px;
  }

  #arvi .arvi--cii--computer {
    width: 338px;
    height: 192px;
  }

  #arvi .arvi--telcom2__imga {
    margin-left: 66px;
  }

  #verli .verli--ram--risk {
    margin-left: 132px;
  }

  #table .table--cutler {
    width: 1269px;
    margin-left: -890px;
  }

  #fox .fox--cloth--hook {
    flex-wrap: wrap;
    margin-left: -25px;
  }

  #fox .fox--rug--song {
    position: absolute;
    margin: 391px 0 0 29px;
  }

  #fox .fox--rug--ball--bill--hall {
    width: 354px;
    height: 228px;
  }

  #fox .fox--rug--ball {
    width: 383px;
    height: 1004px;
  }

  #fox .fox--rug--ball--bill--long--wall {
    flex-direction: column;
    margin-left: -82px;
  }

  #fox .fox--rug--ball--bill--long input {
    width: 211px;
    margin-left: 85px;
  }



}

@media (max-width: 370px) {

  #table .table--cutler {
    width: 1269px;
    margin-left: -900px;
  }

  #fox .fox--rug--ball--bill--hall {
    width: 343px;
    height: 236px;
  }

  #fox .fox--rug--ball {
    width: 373px;
    height: 1023px;
    border-radius: 1px;
  }



}

@media (max-width: 320px) {

  #header .header {
    margin-left: -189px;
  }

  #hero .hero--block__title {
    font-size: 30px;
  }

  #hero .hero--block__title2 {
    font-size: 32px;
  }

  #arvi .arvi--telcom__img {
    width: 90%;
    margin: 52px 0 0 69px;
  }

  #arvi .arvi--cii--computer {
    width: 288px;
    height: 168px;
  }

  #arvi .arvi--telcom2__imga {
    margin-left: 28px;
  }

  #verli .verli--ram--risk {
    margin-left: 110px;
  }

  #table .table--cutler {
    width: 1269px;
    margin-left: -951px;
  }

  #fox .fox--hat {
    margin-left: 68px;
  }

  #fox .fox--problem--sofa--tax {
    font-size: 84px;
  }

  #fox .fox--cloth--hook {
    flex-wrap: wrap;
    margin-left: -61px;
  }

  #fox .fox--rug--ball--bill--long {
    margin: -14px 0 0 -263px;
  }

  #fox .fox--rug--song {
    position: absolute;
    margin: 391px 0 0 0;
  }

  #fox .fox--rug--ball--bill--hall {
    width: 296px;
    height: 236px;
  }

  #fox .fox--rug--ball--bill--hall__stalk {
    font-size: 14px;
  }

  #fox .fox--rug--ball--bill--long--wall {
    flex-direction: column;
    margin-left: -41px;
  }

  #fox .fox--rug--ball {
    width: 326px;
    height: 1023px;
  }

}